<%= form_for @job do |f| %>

<br>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
  <%= f.label :company_id, 'Company' %>
  <%= f.collection_select :company_id, Company.all, :id ,:name %>
  <!-- <%= f.collection_select(:company, Company.all, :id ,:name) %> -->
<p>
  <%= f.label :location %>
  <%= f.text_field :location %>
</p>
  <%= f.label :category %>
  <%= f.text_field :category %>
<p>
  <%= f.label :featured  %>
  <%= f.check_box :featured  %>
</p>
  <%= f.label :description %>
  <%= f.text_area :description %>
<p>
  <%= f.submit 'Criar Vaga' %>
</p>
<% end %>
