<!DOCTYPE html>
<html>
<head>
  <title>EmpregoJa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <p>Olá <%= current_user.email %></p>
    <%= link_to 'Sair', destroy_user_session_path, method: 'delete' %>
    <% else %>
    <%= link_to 'Entrar', new_user_session_path %>
  <% end %>
<div class="container">
<h1>Emprego Já</h1>



<%= yield %>
</div>
</body>
</html>
